.panParent{
    display: grid;
    grid-template-columns: auto auto;
}

h3{
    cursor: default;
}

h3:hover{
    background-color: rgb(240, 240, 240);
}

.highlightp{
    background-color: rgb(255, 227, 227);
}